@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,600i,700,700i&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: 'montserrat', sans-serif;
  color: #7f7f7f;
}

p {
  margin-bottom: 1.25em;
}

a {
  text-decoration: none;
  transition: all 250ms;
}

.clear::before,
.clear::after,
.clear-top::before,
.clear-bottom::after {
  content: '';
  display: table;
  clear: both;
}
