{
  "presets": ["next/babel"],
  "plugins": [
    ["macros"],
    ["styled-components", { "ssr": true }],
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "~app": "./src",
          "~api": "./src/api",
          "~modules": "./src/modules",
          "~design": "./src/design",
          "~content": "./src/admin/content"
        }
      }
    ]
  ]
}
