{
  "presets": ["next/babel"],
  "plugins": [
    ["macros"],
    ["@babel/plugin-proposal-export-namespace-from"],
    ["styled-components", { "ssr": true, "fileName": false }],
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "~app": "./src",
          "~api": "./src/api",
          "~modules": "./src/modules",
          "~design": "./src/design",
          "~content": "./src/admin/content"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": ["rewire-ts"]
    },
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}
